<section>
	<div class="jumbotron text-center">
		<h1>Mano de Obra</h1>
		<br>
		<p>Conectando consumidores y proveedores de servicios en construcción</p>
		<form role="form">
			<div class="form-group">
				<input type="text" ng-model="serviceSubCategoryKeywordSelected" class="form-control center-block " ng-keypress="$event.keyCode == 13 && searchServiceSuppliers($item,$model,$label)"
					   style="width: 80%;" placeholder="Ingresa el rubro que buscas. Ej: 'albañilería'" typeahead="serviceSubcategoryKeyword as serviceSubcategoryKeyword.keyword for serviceSubcategoryKeyword in serviceSubcategoriesKeywords | filter:$viewValue"
					   typeahead-on-select="searchServiceSuppliers($model)" />
			</div>
		</form>
	</div>
</section>