<section class="row" data-ng-controller="AuthenticationController">

	<br>
	<div class="profile-alert-container">
		<uib-alert type="{{alerts.type}}" close="alerts.close()" ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>
	</div>

	<h3 class="col-md-12 text-center">Registrate usando tus redes sociales</h3>
	<div class="col-md-12 text-center">
		<img class="social-img" ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/img/buttons/facebook.png">
		<img class="social-img" ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/img/buttons/twitter.png">
		<img class="social-img" ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/img/buttons/google.png">
	</div>

	<h3 class="col-md-12 text-center">O registrate usando tu email</h3>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
		<form name="userForm" data-ng-submit="signup(userForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group" show-errors>
					<label for="firstName">Nombre</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Nombre" required>
					<div ng-messages="userForm.firstName.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Por favor ingrese su nombre.</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<label for="lastName">Apellido</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Apellido" required>
					<div ng-messages="userForm.lastName.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Por favor ingrese su apellido.</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" required>
					<div ng-messages="userForm.email.$error" role="alert">
						<p class="help-block error-text" ng-message="email">Por favor ingrese una direcci&#243;n de correo electr&#243;nico v&#225;lida.</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<label for="username">Nombre de usuario</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Nombre de usuario" required>
					<div ng-messages="userForm.username.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Por favor ingrese un nombre de usuario.</p>
					</div>
				</div>
				<div class="form-group" show-errors>
					<label for="password">Contrase&#241;a</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contrase&#241;a" uib-popover="{{popoverMsg}}" popover-trigger="focus" password-validator required>
					<div ng-messages="userForm.password.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Por favor ingrese una contrase&#241;a.</p>
						<div ng-repeat="passwordError in passwordErrors">
							<p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{passwordError}}</p>
						</div>
					</div>
				</div>
				<div class="form-group" ng-show="!userForm.password.$error.required">
						<label>Requisitos de la contrase&#241;a</label>
					<uib-progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></uib-progressbar>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Registrate</button>&nbsp; o&nbsp;
					<a href="/#!/signin" class="show-signup">Ingresa</a>
				</div>
			</fieldset>
		</form>
	</div>
</section>