<section data-ng-controller="UserJobsController" data-ng-init="findOne()">

    <div class="row">
        <div class="col-lg-12">
            <h1>
                Job Detail
                <small>{{job.name}}</small>
                <a data-ng-click="openReviewModal()" class="btn btn-success pull-right">Leave a Review</a>
            </h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3>Description</h3>
            <p>{{job.description}}</p>
            <h3>Details</h3>
            <ul class="job-detail-list-container">
                <li><strong>Start Date: </strong>{{job.start_date | date: 'shortDate'}}</li>
                <li><strong>Expected Date: </strong>{{job.expected_date | date: 'shortDate'}}</li>
                <li><strong>Status: </strong>{{job.status.name}}</li>
                <li><strong>Service Supplier: </strong>{{job.service_supplier.display_name}}</li>
            </ul>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Job Images</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>

        <div class="col-sm-3 col-xs-6">
            <a href="#">
                <img class="img-responsive portfolio-item" src="http://placehold.it/500x300" alt="">
            </a>
        </div>
    </div>

    <script type="text/ng-template" id="addReviewModal">
        <div class="modal-header">
            <h3 class="modal-title">Add Review</h3>
        </div>
        <div class="modal-body">

            <h4 class="review-services-title">Services</h4>

            <input type="text" data-ng-model="selected" class="form-control review-service-selector" typeahead-on-select="selectService($item)"
                   typeahead="servicesubcategory as servicesubcategory.name for servicesubcategory in servicesubcategories | filter:$viewValue | limitTo:8"
                   placeholder="Select a service.">

            <div data-ng-show="selectedservices.length" class="review-selected-services">
                <button data-ng-click="deleteSelectedService($index)" type="button" class="btn btn-default review-selected-service"
                        data-ng-repeat="selectedservice in selectedservices">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{selectedservice.name}}</button>
            </div>


            <h4 class="review-ratings-title">Ratings</h4>
            <div class="review-ratings-container">
                <div data-ng-repeat="rating in ratings">
                    {{rating.name}} <a tooltip="{{rating.description}}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    <div class="pull-right">
                        <rating ng-model="rating.rate" max="5" class="review-rating-selector"></rating>{{rating.rate}} Stars
                    </div>
                </div>
            </div>


            <textarea data-ng-model="comment" class="form-control" cols="30" rows="4" placeholder="Leave a comment here."></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</section>