<section data-ng-controller="ListJobsController" data-ng-init="getAllJobs()">
    <div class="job-details-header-container">
        <div class="pull-right create-job-button-container" data-ng-show="authentication.user">
            <a ui-sref="jobs.create({ servicesupplierId: servicesupplier._id })" class="btn btn-primary">Crear trabajo</a>
        </div>
        <h1>{{jobListTitle}}</h1>
    </div>
    <br>

    <div class="alert alert-warning text-center" ng-show="totalItems === 0 && !showList">
        No tienes ningun trabajo{{jobStatusLabel}}
    </div>

    <div ng-show="totalItems !== 0 && !showList" class="loading-container">
        <img class="loading-img" src="/modules/core/img/loaders/loader.gif"/>
        <div>Cargando trabajos...</div>
    </div>
    <div data-ng-include="'/modules/jobs/views/job-list.template.client.view.html'"></div>
</section>