<div class="row">
    <div class="col-md-3">

        <p class="lead">Mis Trabajos</p>
        <div class="list-group">
            <!-- commenting option to create a job from outside a supplier - for now -->
            <!-- need to decide how to narrow down the list of suppliers during search -->
            <!--a ui-sref=".create" class="list-group-item">Crear trabajo</a-->
            <a ui-sref=".list({ status: 'all', currentPage: 1 })" class="list-group-item">Todos los trabajos</a>
            <a ui-sref=".list({ status: 'active', currentPage: 1 })" class="list-group-item">Activos</a>
            <a ui-sref=".list({ status: 'finished', currentPage: 1 })" class="list-group-item">Terminados</a>
            <a ui-sref=".list({ status: 'pending', currentPage: 1 })" class="list-group-item">Pendientes de aprobaci&#243;n</a>
            <a ng-show="reportedJobs" ui-sref=".list({ status: 'reported', currentPage: 1 })" class="list-group-item">Reportados</a>
        </div>

    </div>
    <div class="col-md-9">
        <section data-ui-view></section>
    </div>

    <script type="text/ng-template" id="addReviewModal">
        <div class="modal-header">
            <h3 class="modal-title">Agrega un comentario</h3>
        </div>
        <div class="modal-body">

            <uib-alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible">{{alerts.msg}}</uib-alert>

            <h4 class="review-ratings-title">Ratings</h4>
            <div class="review-ratings-container">
                <div data-ng-repeat="rating in ratings">
                    {{rating.name}} <a uib-tooltip="{{rating.description}}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                    <div class="pull-right">
                        <uib-rating data-ng-model="rating.rate" max="5" class="review-rating-selector"></uib-rating>{{rating.rate}} Estrellas
                    </div>
                </div>
            </div>

            <div class="review-ratings-container">
                <h5>Recomendar&#237a este proveedor a un amigo</h5>
                <input type="radio" data-ng-model="recommend" value="true">Si</input>
                <input type="radio" data-ng-model="recommend" value="false">No</input>
            </div>

            <textarea data-ng-model="comment" class="form-control" cols="30" rows="4" placeholder="Deja un comentario aqui."></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" data-ng-click="ok()">OK</button>
            <button class="btn btn-default" type="button" data-ng-click="cancel()">Cancelar</button>
        </div>
    </script>

</div>