.home-screen-container {
    padding-top: 40px;
}

.home-logo {
    width: 20%;
    height: 20%
}

.search-input {
    width: 80%;
    margin: 0 auto;
}

.advanced-search-link-container {
    width: 100%;
    position: relative;
    font-size: 11px;
    cursor: pointer;
}

.advanced-search-link {
    position: absolute;
    right: 0;
    padding: 5px 5px 0 0;
}

.filters-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
}

.dropdown-item {
    cursor: pointer;
}

.search-button {
    position: absolute;
    margin-right: 24px;
    right: 0;
}

.loading-container {
    text-align: center;
    padding: 60px 0;
}

.loading-img {
    padding-bottom: 20px;
}

.search-result-container {
    display: flex;
}

.search-result-details {
    width: 100%;
    padding-left: 10px;
    position: relative;
}

.search-result-display-name {
    display: flex;
    position: relative;
    color: midnightblue;
}

.search-result-rating-details {
    color: #d17581;
    position: absolute;
    bottom: 0;
    width: 99%;
}

.pagination-container {
    text-align: center;
}