<div class="container">
    <div class="row">
        <div class="col-md-3" id="leftCol">

            <div class="well">
                <ul class="nav nav-stacked" id="sidebar">
                    <li><a ui-sref=".users">Users</a></li>
                    <li><a ui-sref=".servicesuppliers">Service Suppliers</a></li>
                    <li><a ui-sref=".servicecategories">Service Categrories</a></li>
                    <li><a ui-sref=".servicesubcategories">Service Subcategories</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-9">
            <section data-ui-view></section>
        </div>
    </div>
</div>