<div class="container">
    <div class="row">
        <div class="col-md-3" id="leftCol">

            <div class="list-group">
                <a ui-sref=".users" class="list-group-item">Users</a>
                <a ui-sref=".servicesuppliers" class="list-group-item">Service Suppliers</a>
                <a ui-sref=".servicecategories" class="list-group-item">Service Categrories</a>
                <a ui-sref=".servicesubcategories" class="list-group-item">Service Subcategories</a>
            </div>

        </div>
        <div class="col-md-9">
            <section data-ui-view></section>
        </div>
    </div>
</div>