<div class="service-supplier-header-container">
    <div class="pull-right create-job-button-container"
         data-ng-show="authentication.user &&
                       ((isServiceSupplier && authentication.user._id === servicesupplier.user) || !isServiceSupplier)">
        <a ui-sref="jobs.create({ servicesupplierId: servicesupplier._id })" class="btn btn-primary">Crear trabajo</a>
    </div>
    <h1>Detalles</h1>
</div>
<br>
<div class="thumbnail flex-display" ng-cloak>

    <div class="service-supplier-img-container">
        <img src="/images/user.jpg" alt="" class="service-supplier-img">
    </div>
    <div class="service-supplier-details-container" ng-cloak>
        <div class="caption-full">
            <small class="list-group-item-text pull-right">
                Miembro desde
                <span data-ng-bind="servicesupplier.registration_date | date:'shortDate'"></span>
            </small>
            <h4><a href="">{{servicesupplier.display_name}}</a></h4>
            <p>{{servicesupplier.description}}</p>

            <div data-ng-show="servicesupplier.job_counts.length">
                <label class="control-label">Trabajos</label>
                <strong>
                    <p>
                        <span class="label label-success">{{(servicesupplier.job_counts | filter: {jobstatus: {keyword: 'finished'} })[0].count || 0}} Finalizados</span>
                        <span class="label label-primary">{{(servicesupplier.job_counts | filter: {jobstatus: {keyword: 'active'} })[0].count || 0}} Activos</span>
                        <span class="label label-primary">{{(servicesupplier.job_counts | filter: {jobstatus: {keyword: 'incomplete'} })[0].count || 0}} Incompletos</span>
                        <span class="label label-primary">{{(servicesupplier.job_counts | filter: {jobstatus: {keyword: 'guaranteed'} })[0].count || 0}} Garantizados</span>
                        <span class="label label-primary">{{(servicesupplier.job_counts | filter: {jobstatus: {keyword: 'abandoned'} })[0].count || 0}} Abandonados</span>
                    </p>
                </strong>
            </div>

            <div ng-show="authentication.user">
                <strong>Email: </strong> {{servicesupplier.email}}<br>
                <strong>Tel&#233;fono: </strong> {{servicesupplier.phone_number}}<br><br>
            </div>

            <div ng-show="!authentication.user">
                <strong>Email: </strong> ...<br>
                <strong>Tel&#233;fono: </strong> ...<br><br>
            </div>

            <label class="control-label">Servicios</label>
            <div data-ng-repeat="servicesubcategory in servicesupplier.services">
                - {{servicesubcategory.name}}<br>
            </div>
        </div>
        <div class="ratings service-supplier-rating-count">
            <p data-ng-show="jobs.length">
                <uib-rating data-ng-model="servicesupplier.overall_rating" max="max" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar=null"></uib-rating>
                <span>{{servicesupplier.overall_rating}}</span> (promedio)
            </p>
        </div>

    </div>

</div>

<div class="service-supplier-header-container">
    <div class="pull-right leave-review-button-container" data-ng-show="authentication.user && !isServiceSupplier">
        <a data-ng-click="openReviewModal()" class="btn btn-success">Deja una calificacion</a>
    </div>
    <div class="reviews-label-container">Calificaciones recientes</div>
</div>
<br>
<div class="well" ng-cloak>
    <div data-ng-show="!jobs.length">El prestador de servicios no ha sido calificado</div>
    <div class="row service-supplier-review-list" data-ng-repeat="job in jobs">
        <div class="col-md-12">
            <br>
            <p>{{job.user.displayName}}
                <span class="pull-right">
                    <span class="glyphicon glyphicon-time"></span>
                    {{ job.review[0].created | date: 'medium' }}
                </span>
            </p>
            <p>
                <uib-rating data-ng-model="job.review[0].ratingsAvg" max="max" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar=null"></uib-rating>
                <span>({{job.review[0].ratingsAvg}})</span>
            </p>
            <p>{{job.review[0].comment}}</p>
        </div>
        <hr>
    </div>
</div>
