<div class="service-supplier-header-container">
    <div class="pull-right leave-review-button-container" data-ng-show="authentication.user">
        <a data-ng-click="openReviewModal()" class="btn btn-success">Deja un comentario</a>
    </div>
    <h1>Comentarios</h1>
</div>
<br>

<div class="well" ng-cloak>

    <!--div data-ng-hide="!supplierHasReviews">No hay comentarios</div-->

    <div class="row service-supplier-review-list" data-ng-repeat="job in jobs | filter: jobHasReview | orderBy: '-review[0].created'">
        <div class="col-md-12">
            <br>
            <p>{{job.user.displayName || authentication.user.displayName}}
                <span class="pull-right">
                    <span class="glyphicon glyphicon-time"></span>
                    {{ job.review[0].created | date: 'medium' }}
                </span>
            </p>
            <p>
                <uib-rating data-ng-model="job.review[0].ratingsAvg" max="max" readonly="true" on-hover="hoveringOver(value)" on-leave="overStar=null"></uib-rating>
                <span>({{job.review[0].ratingsAvg}})</span>
            </p>
            <p>{{job.review[0].comment}}</p>
        </div>
        <hr>
    </div>

</div>
