<section data-ng-controller="ServiceSuppliersJobsController"  data-ng-init="getJobsForSupplier()">
    <div class="service-supplier-header-container">
        <div class="pull-right create-job-button-container" data-ng-show="authentication.user &&
                       ((isServiceSupplier && authentication.user._id === servicesupplier.user) || !isServiceSupplier)">
            <a ui-sref="jobs.create({ servicesupplierId: servicesupplier._id })" class="btn btn-primary">Crear trabajo</a>
        </div>
        <h1>Trabajos de: {{servicesupplier.display_name}}</h1>
    </div>
    <br>
    <div class="alert alert-warning text-center" data-ng-show="!jobs.length">
        Este prestador de servicios no tiene trabajos todav&#237;a.
    </div>
    <div data-ng-include="'/modules/jobs/views/job-list.template.client.view.html'"></div>
</section>