<div class="container" data-ng-controller="ServiceSuppliersDetailController">
    <div class="row">
        <div class="col-md-3">

            <p class="lead">Service Supplier</p>
            <div class="list-group">
                <a ui-sref=".detail({ servicesupplierId: servicesupplier._id })" class="list-group-item">Details</a>
                <a ui-sref=".jobs({ servicesupplierId: servicesupplier._id })" class="list-group-item">Jobs</a>
                <a ui-sref=".reviews({ servicesupplierId: servicesupplier._id })" class="list-group-item">Reviews</a>
            </div>

        </div>
        <div class="col-md-9">
            <section data-ui-view></section>
        </div>
    </div>
</div>

<script type="text/ng-template" id="jobTypeaheadTemplate.html">
    <a>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
        <span>, {{match.model.start_date | date: 'shortDate'}} - {{match.model.finish_date | date: 'shortDate'}}</span>
    </a>
</script>

<script type="text/ng-template" id="addSupplierReviewModal">
    <div class="modal-header">
        <h3 class="modal-title">Add Review</h3>
    </div>
    <div class="modal-body">

        <alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible">{{alerts.msg}}</alert>

        <div class="alert alert-warning text-center" data-ng-show="!jobs.length">
            You don't have finished jobs with this service supplier.
        </div>

        <div data-ng-show="jobs.length">
            <h4 class="review-services-title">Jobs</h4>
            <input type="text" data-ng-model="selectedJob" class="form-control"
                   typeahead="job as job.name  for job in jobs | filter:$viewValue | limitTo:8"
                   placeholder="Select a Job." typeahead-template-url="jobTypeaheadTemplate.html">
        </div>
        <br>
        <h4 class="review-services-title">Services</h4>
        <input type="text" data-ng-model="selected" class="form-control review-service-selector" typeahead-on-select="selectService($item)"
               typeahead="servicesubcategory as servicesubcategory.name for servicesubcategory in servicesubcategories | filter:$viewValue | limitTo:8"
               placeholder="Select a service.">

        <div data-ng-show="selectedservices.length" class="review-selected-services">
            <button data-ng-click="deleteSelectedService($index)" type="button" class="btn btn-default review-selected-service"
                    data-ng-repeat="selectedservice in selectedservices">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{selectedservice.name}}</button>
        </div>

        <h4 class="review-ratings-title">Ratings</h4>
        <div class="review-ratings-container">
            <div data-ng-repeat="rating in ratings">
                {{rating.name}} <a tooltip="{{rating.description}}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
                <div class="pull-right">
                    <rating ng-model="rating.rate" max="5" class="review-rating-selector"></rating>{{rating.rate}} Stars
                </div>
            </div>
        </div>


        <textarea data-ng-model="comment" class="form-control" cols="30" rows="4" placeholder="Leave a comment here."></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>