<section data-ng-controller="RatingTypesController" data-ng-init="findOne()">
    <div class="admin-page-header">
        <h1>Edit Rating Type</h1>
    </div>
    <alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</alert>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="openEditModal()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ratingtype.name" id="name" class="form-control" placeholder="Name">
                    </div>
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea name="description" data-ng-model="ratingtype.description" id="description" class="form-control" cols="30" rows="5" placeholder="Description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>

    <script type="text/ng-template" id="editRatingTypeModal">
        <div class="modal-header">
            <h3 class="modal-title">Edit Rating Type</h3>
        </div>
        <div class="modal-body">
            Are you sure you want to update this rating type?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</section>