<section data-ng-controller="RatingTypesController" data-ng-init="find()">
    <div class="admin-page-header">
        <h1>Rating Types</h1>
    </div>
    <div class="alert alert-warning text-center">
        <a ui-sref="admin.createRatingType">Create Rating Type</a>
    </div>

    <alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</alert>

    <div id="resultsContainer" data-ng-show="showList">
        <div>
            Items: {{ ((currentPage-1)*itemsPerPage) + 1 }}-{{ (currentPage-1)*itemsPerPage + ratingtypes.length}} of {{totalItems}}
        </div>
        <div class="list-group">
            <a data-ng-repeat="ratingtype in ratingtypes" ui-sref="admin.viewRatingType({ ratingtypeId: ratingtype._id })" class="list-group-item">
                <h4 data-ng-bind="ratingtype.name"></h4>
            </a>
        </div>
        <div class="pagination-container" data-ng-hide="totalItems <= itemsPerPage">
            <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" max-size="maxPages"
                        items-per-page="itemsPerPage" ng-change="navigateToPage()"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
        </div>
    </div>
</section>