<section data-ng-controller="UsersAdminController" data-ng-init="findOne()">
    <div class="admin-page-header">
        <h1>Edit User</h1>
    </div>
    <alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</alert>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="openEditModal()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="user.firstName" id="firstName" class="form-control" placeholder="First Name" required>
                    </div>
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="user.lastName" id="lastName" class="form-control" placeholder="Last Name" required>
                    </div>
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" data-ng-model="user.email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                    <label class="control-label" for="username">Username</label>
                    <div class="controls">
                        <input type="text" data-ng-model="user.username" id="username" class="form-control" placeholder="Username" required>
                    </div>
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="text" data-ng-model="password" id="password" class="form-control" required>
                    </div>
                    <label class="control-label">Is admin:</label>
                    <input type="checkbox" data-ng-model="isAdmin" ng-checked="user.roles.indexOf('admin') !== -1">
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>

    <script type="text/ng-template" id="editUserModal">
        <div class="modal-header">
            <h3 class="modal-title">Edit User</h3>
        </div>
        <div class="modal-body">
            Are you sure you want to update this user?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</section>