<section data-ng-controller="UsersAdminController" data-ng-init="find()">
    <div class="admin-page-header">
        <h1>Users</h1>
    </div>
    <div class="alert alert-warning text-center">
        <a ui-sref="admin.createUser">Create User</a>
    </div>

    <alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</alert>

    <div class="list-group">
        <a data-ng-repeat="user in users" ui-sref="admin.viewUser({ userForAdminId: user._id })" class="list-group-item">
            <small class="list-group-item-text">
                Registered on
                <span data-ng-bind="user.created | date:'medium'"></span>
            </small>
			<h4 data-ng-bind="user.displayName"></h4>
        </a>
    </div>
</section>