<section data-ng-controller="UsersAdminController">
    <div class="admin-page-header">
        <h1>Users</h1>
    </div>
    <div class="alert alert-warning text-center">
        <a ui-sref="admin.createUser">Create User</a>
    </div>

    <alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</alert>

     <div class="well well-sm">
            <h4>Search parameters</h4>
            <input type="radio" data-ng-model="searchParameter" value="username">Username</input>
            <input type="radio" data-ng-model="searchParameter" value="others">Other parameters</input>
            <form role="form">
                    <div class="form-group" data-ng-show="searchParameter=='username'">
                        <input class="form-control" type="text" placeholder="Username" data-ng-model="searchParameterUsername"/>
                    </div>
                    <div data-ng-show="searchParameter!='username'">
                        <div class="form-group">
                            <label class="control-label" for="firstname">First Name</label>
                            <input class="form-control" type="text" placeholder="First Name" id="firstname" data-ng-model="searchParameterFirstName"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="lastname">Last Name</label>
                            <input class="form-control" type="text" placeholder="Last Name" id="lastname" data-ng-model="searchParameterLastName"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <input class="form-control" type="text" placeholder="Email" id="email" data-ng-model="searchParameterEmail"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>
                            <input class="form-control" type="text" placeholder="City" id="city" data-ng-model="searchParameterCity"/>
                        </div>
                    </div>
                    <button class="btn btn-large btn-primary" data-ng-click="find()">Search</button>
            </form>

     </div>


    <div id="resultsContainer" data-ng-show="showList">
        <div>
            Items: {{ ((currentPage-1)*itemsPerPage) + 1 }}-{{ (itemsPerPage*currentPage <= totalItems) ? itemsPerPage*currentPage : totalItems }} of {{totalItems}}
        </div>
        <div class="list-group">
            <!-- Updated to paginate results locally and using dir-paginate directive
             This directive does not require anything (e.g.: monitoring clicks on the page numbers) on the controller
             in order to paginate the results -->
            <a dir-paginate="user in users | itemsPerPage : itemsPerPage" current-page="currentPage" ui-sref="admin.viewUser({ userId: user._id })" class="list-group-item">
                <small class="list-group-item-text">
                    Registered on
                    <span data-ng-bind="user.created | date:'medium'"></span>
                </small>
                <h4 data-ng-bind="user.displayName"></h4>
            </a>
        </div>
        <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
    </div>

</section>