<section data-ng-controller="UsersAdminController" data-ng-init="findOne()">
	<alert type="{{alerts.type}}" close="alerts.close()" data-ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</alert>
	<div class="admin-page-header">
		<h1 data-ng-bind="user.displayName"></h1>
	</div>
	<div class="page-content">
		<h3 data-ng-bind="user.email"></h3>
	</div>
	<div class="page-content">
		<h4 data-ng-bind="user.username"></h4>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" ui-sref="admin.editUser({ userForAdminId: user._id })">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="openDeleteModal();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<script type="text/ng-template" id="deleteUserModal">
		<div class="modal-header">
			<h3 class="modal-title">Delete User</h3>
		</div>
		<div class="modal-body">
			Are you sure you want to delete this user?
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
			<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>

</section>