<section data-ng-controller="MessagesController" data-ng-init="find()">
    <div class="messages-header-container">
        <h1>{{messageListTitle}}</h1>
    </div>
    <br>

    <uib-alert type="{{alerts.type}}" close="alerts.close()" ng-show="alerts.visible" class="custom-alert">{{alerts.msg}}</uib-alert>

    <div class="alert alert-warning text-center" ng-show="totalItems === 0 && !showList">
        No tienes ningun mensaje{{messageConditionLabel}}
        <a ng-show="messagesCondition == 'received'" ui-sref="messages.create">Quieres enviar uno?</a>
    </div>

    <div ng-show="totalItems !== 0 && !showList" class="loading-container">
        <img class="loading-img" src="/modules/core/img/loaders/loader.gif"/>
        <div>Cargando mensajes...</div>
    </div>

    <div class="list-group" ng-show="showList">
        <div>
            Mensajes: {{ ((currentPage-1)*itemsPerPage) + 1 }}-{{ (currentPage-1)*itemsPerPage + conversations.length}} de {{totalItems}}
        </div>
        <a data-ng-repeat="conversation in conversations" ui-sref="messages.view({ conversationId: conversation._id })" class="list-group-item">
            <small class="list-group-item-text">
                <span data-ng-bind="conversation.messages[conversation.messages.length-1].created | date:'medium'"></span>
                <span ng-show="conversation.user1._id != authentication.user._id">
                    <b data-ng-bind="conversation.user1.displayName"></b>
                </span>
                <span ng-show="conversation.user2._id != authentication.user._id">
                    <b data-ng-bind="conversation.user2.displayName"></b>
                </span>
            </small>

            <span ng-show="conversation.unread > 0" class="pull-right label label-default">
                <ng-pluralize count="conversation.unread"
                              when="{'1': '{{conversation.unread}} no leido',
                                     'other': '{{conversation.unread}} no leidos'}">
                </ng-pluralize>
            </span>
			<h4 class="list-group-item-heading" data-ng-bind="conversation.messages[conversation.messages.length-1].content"></h4>
        </a>

        <div class="pagination-container" ng-show="totalItems > itemsPerPage">
            <uib-pagination boundary-links="true" total-items="totalItems" data-ng-model="currentPage" class="pagination-sm" max-size="maxPages"
                            items-per-page="itemsPerPage" data-ng-click="navigateToResults()"
                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
    </div>
</section>